HM_Cient/HM_Cient/Connected Services/StaffServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StaffService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStaffService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HM_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStaffService_GetAllStaffs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffs" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetAllStaffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaffsResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaff" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_AddStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStaff" />
  </wsdl:message>
  <wsdl:message name="IStaffService_AddStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DeleteStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaff" />
  </wsdl:message>
  <wsdl:message name="IStaffService_DeleteStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_UpdateStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaff" />
  </wsdl:message>
  <wsdl:message name="IStaffService_UpdateStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_NoOfStaffs_InputMessage">
    <wsdl:part name="parameters" element="tns:NoOfStaffs" />
  </wsdl:message>
  <wsdl:message name="IStaffService_NoOfStaffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:NoOfStaffsResponse" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaffsByFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffsByFirstName" />
  </wsdl:message>
  <wsdl:message name="IStaffService_GetStaffsByFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffsByFirstNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IStaffService">
    <wsdl:operation name="GetAllStaffs">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetAllStaffs" message="tns:IStaffService_GetAllStaffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetAllStaffsResponse" message="tns:IStaffService_GetAllStaffs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetStaff" message="tns:IStaffService_GetStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetStaffResponse" message="tns:IStaffService_GetStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/AddStaff" message="tns:IStaffService_AddStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/AddStaffResponse" message="tns:IStaffService_AddStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/DeleteStaff" message="tns:IStaffService_DeleteStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/DeleteStaffResponse" message="tns:IStaffService_DeleteStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/UpdateStaff" message="tns:IStaffService_UpdateStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/UpdateStaffResponse" message="tns:IStaffService_UpdateStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NoOfStaffs">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/NoOfStaffs" message="tns:IStaffService_NoOfStaffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/NoOfStaffsResponse" message="tns:IStaffService_NoOfStaffs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffsByFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IStaffService/GetStaffsByFirstName" message="tns:IStaffService_GetStaffsByFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStaffService/GetStaffsByFirstNameResponse" message="tns:IStaffService_GetStaffsByFirstName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStaffService" type="tns:IStaffService">
    <wsp:PolicyReference URI="#NetTcpBinding_IStaffService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllStaffs">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/GetAllStaffs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/GetStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaff">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/AddStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/DeleteStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStaff">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/UpdateStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoOfStaffs">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/NoOfStaffs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffsByFirstName">
      <soap12:operation soapAction="http://tempuri.org/IStaffService/GetStaffsByFirstName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffService">
    <wsdl:port name="NetTcpBinding_IStaffService" binding="tns:NetTcpBinding_IStaffService">
      <soap12:address location="net.tcp://localhost:8001/StaffTcpBinding" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/StaffTcpBinding</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PAVILION-15\hp</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>