HM_Cient/HM_Cient/Connected Services/FeesServiceReference/HM_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HM_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HM_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Fees">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeesId" type="xs:int" />
      <xs:element minOccurs="0" name="PaidAmount" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fees" nillable="true" type="tns:Fees" />
</xs:schema>